// Primary
$blueLight: #34DAC3;
$blue: #2397D4;
$blueMedium: #1577AB;
$blueDark: #2F4A75;
$blueGray: #343E47;

// Secondary
$red: #E74C3C;
$redDark: #C0392B;
$yellow: #F1C40F;
$yellowDark: #F39C12;
$green: #2ECC71;
$greenDark: #27AE60;
$grayLight: #D0DFE8;
$gray: #A3B6C6;
$grayMedium: #95a5a6;
$grayDark: #7f8c8d;

// Thirdy
$blueSoft: #E9F4FB;

// Hovers
$blueHover: #65B6E1;
$blueGhostHover: #2397D4;
$blueDarkHover: #1577AB;
$greenHover: #27AE60;
$greenGhostHover: #27AE60;
$yellowHover: #F39C12;
$redHover: #C0392B;

// Focus
$blueFocus: #ADE3FF;
$blueGhostFocus: #ADE3FF;
$blueDarkFocus: #2397D4;
$greenFocus: #96E5B7;
$greenGhostFocus: #27AE60;
$yellowFocus: #F1C40F;
$redFocus: #E74C3C;